/*COMMON*/
header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
}

footer{
    background-color: #3a546d;
    color: white;
    text-align: center;
}

img{
    width: 100%;
}

section{
    padding: 60px 0;
}

.wrapper{
    width: 55%;
    margin: 0 auto;
}

/*Text*/
.jumbo-text-container h1{
    padding: 10px 0;
    font-size: 40px;
}

.portfolio h2,
.about h2,
.form-container h2{
    font-size: 30px;
}

.section-title{
    width: 100%;
    text-align: center;
}

.color-cyan{
    color: #1abc9c;
}

/*Button*/
.ms-btn-cyan{
    color: white;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.ms-btn-container{
    text-align: center;
}

/* Icon */
.star-icon{
    font-size: 30px;
}

/*Common Mediaquery*/
/*Medium Device*/
@media (min-width: 768px) {
    
    .jumbo-text-container h1{
        font-size: 55px;
    }

    .portfolio h2,
    .about h2,
    .form-container h2{
        font-size: 40px;
    }

}

/*Large Device*/
@media (min-width: 992px) {
    
    .jumbo-text-container h1{
        font-size: 65px;
    }

    .portfolio h2,
    .about h2,
    .form-container h2{
        font-size: 50px;
    }

}

/*HEADER*/
/*Nav*/
.logo{
    font-size: 25px;
    font-weight: bold;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li{
    display: inline-block;
    margin: 0 5px;
}

header a{
    text-decoration: none;
    color: inherit;
}

.menu-container{
    text-align: right;
}

.burger-menu-container{
    text-align: center;
}

.burger-menu-container .burger-menu-icon{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: #888888;
    font-size: 25px;
}

.link-container{
    font-weight: 500;
}

/*MAIN*/
/*jumbotron*/
.jumbotron{
    width: 100%;
    padding: 20px 0;
    background-color: #1abc9c;
    text-align: center;
    color: white;
}

.jumbo-img-container{
    display: inline-block;
    width: 250px;
}

.jumbo-text-container .star-icon::before,
.jumbo-text-container .star-icon::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 5px;
}

.jumbo-text-container span{
    display: inline-block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.jumbo-text-container p{
    font-size: 20px;
}

/*Jumbotron Mediaquery*/
/*Medium Device*/
@media (min-width: 768px) {
    
    .jumbo-text-container .star-icon::before,
    .jumbo-text-container .star-icon::after{
        width: 110px;
    }

    .jumbo-text-container span{
        font-size: 22px;
    }

}

/*Large Device*/
@media (min-width: 992px) {
    
    .jumbo-text-container .star-icon::before,
    .jumbo-text-container .star-icon::after{
        width: 190px;
    }

}

/* Section 1 - Portfolio */
.card{
    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
}

.portfolio .star-icon::before,
.portfolio .star-icon::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    margin: 10px 10px;
    background-color: black;
    border-radius: 5px;
}

/*Portfolio Mediaquery*/ 
/*Medium Device*/
@media (min-width: 768px) {
    
    .portfolio .star-icon::before,
    .portfolio .star-icon::after{
        width: 110px;
    }

}

/*Large Device*/
@media (min-width: 992px) {
    
    .portfolio .star-icon::before,
    .portfolio .star-icon::after{
        width: 190px;
    }

}

/* Section 2 - About */
.about{
    background-color: #1abc9c;
    color: white;
}

.about .section-title .star-icon::before,
.about .section-title .star-icon::after{
    content: "";
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 5px;
}

.about-text{
    margin: 10px 0 30px;
    font-size: 20px;
    font-weight: 400;
}

.about a.btn .download-icon{
    margin-right: 5px;
    padding-bottom: 5px;
}

/*About Mediaquery*/
/*Medium Device*/
@media (min-width: 768px) {
    
    .about .section-title .star-icon::before,
    .about .section-title .star-icon::after{
        width: 70px;
    }

}

/*Large Device*/
@media (min-width: 992px) {
    
    .about .section-title .star-icon::before,
    .about .section-title .star-icon::after{
        width: 150px;
    }

}

/* Section 3 - Form */
.form-container .star-icon::before,
.form-container .star-icon::after{
    content: "";
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 10px 10px;
    background-color: black;
    border-radius: 5px;
}

form.contact input,
form.contact textarea{
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0px;
}

form.contact input::placeholder,
form.contact textarea::placeholder{
    color: black;
    font-size: 20px;
}

/*Form-container Mediaquery*/
/*Medium Device*/
@media (min-width: 768px) {
    
    .form-container .star-icon::before,
    .form-container .star-icon::after{
        width: 70px
    }

}

/*Large Device*/
@media (min-width: 992px) {
    
    .form-container .star-icon::before,
    .form-container .star-icon::after{
        width: 150px;
    }

}

/*FOOTER*/
.footer-top{
    padding: 30px 0;
}

.footer-top .footer-title-section{
    font-size: 18px;
    font-weight: 500;
}

.footer-top p{
    font-size: 17px;
}

footer ul.social{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.social li{
    display: inline-block;
    margin: 5px;
}

ul.social li a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
}

.info-container,
.social-container,
.aboutfree-container{
    margin: 20px 0;
}

.aboutfree-container p{
    padding: 0 30px;
}

/* Copyright */
.copyright{
    padding: 30px 0;
    background-color: #2c3e50;
    font-size: 15px;
}

.copyright .copyright-icon{
    font-size: 12px;
    font-weight: lighter;
}

/*Footer Mediaquery*/
/*Medium Device*/
@media (min-width: 768px) {
    
    .footer-top .footer-title-section{
        font-size: 22px;
    }
    
    .footer-top p{
        font-size: 18px;
    }

}