/*COMMON*/
header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
}

footer{
    background-color: #3a546d;
    color: white;
    text-align: center;
}

img{
    width: 100%;
}

section{
    padding: 30px 0;
}

.section-title{
    width: 100%;
    text-align: center;
}

.color-cyan{
    color: #1abc9c;
}

.wrapper{
    width: 55%;
    margin: 0 auto;
}

/*Button*/
.ms-btn-cyan{
    color: white;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.ms-btn-container{
    text-align: center;
}

/* Icon */
.star-icon{
    font-size: 30px;
}

/*Section*/
.section-title .star-icon::before,
.section-title .star-icon::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    margin: 10px 10px;
    background-color: black;
    border-radius: 5px;
}

/*HEADER*/
/*Nav*/
.logo{
    font-size: 25px;
    font-weight: bold;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li{
    display: inline-block;
    margin: 0 5px;
}

header a{
    text-decoration: none;
    color: inherit;
}

.menu-container{
    text-align: right;
}

.burger-menu-container{
    text-align: center;
}

.burger-menu-container .burger-menu-icon{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: #888888;
    font-size: 25px;
}

.link-container{
    font-weight: 500;
}

/*MAIN*/
/*jumbotron*/
.jumbotron{
    width: 100%;
    padding: 20px 0;
    background-color: #1abc9c;
    text-align: center;
    color: white;
}

.jumbo-img-container{
    display: inline-block;
    width: 300px;
}

.jumbo-text-container h1{
    padding: 10px 0;
    font-size: 40px;
}

.jumbo-text-container .star-icon::before,
.jumbo-text-container .star-icon::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 5px;
}

.jumbo-text-container span{
    display: inline-block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.jumbo-text-container p{
    font-size: 20px;
}

@media (min-width: 768px) {
    
    .jumbo-text-container h1{
        font-size: 50px;
    }

}

/* Section 1 - Portfolio */
.card{
    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
}

/* Section 2 - About */
.about{
    background-color: #1abc9c;
    color: white;
}

.about .section-title .star-icon::before,
.about .section-title .star-icon::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 5px;
}

.about-text{
    margin: 10px 0;
}

.about a.btn .download-icon{
    margin-right: 5px;
    padding-bottom: 5px;
}

/* Section 3 - Form */
form.contact input,
form.contact textarea{
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0px;
}

form.contact input::placeholder,
form.contact textarea::placeholder{
    color: black;
    font-size: 20px;
}

/*ESEMPIO DI IERI*/
/* .input-ex{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.input-ex.input-text{
    padding-bottom: 80px;
} */

/*FOOTER*/
footer ul.social{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.social li{
    display: inline-block;
    margin: 5px;
}

ul.social li a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
}

.info-container,
.social-container,
.aboutfree-container{
    margin: 20px 0;
}

.aboutfree-container p{
    padding: 0 30px;
}

/* Copyright */
.copyright{
    padding: 30px 0;
    background-color: #2c3e50;
}